# KDE Config File
[Desktop Entry]
Type=Application
X-DocPath=kdesrc-build/index.html
Name=KDE Source Builder
Name[da]=KDE Source Builder
Name[et]=KDE lähtekoodi ehitaja
Name[ia]=KDE Constructor de Fonte
Name[nds]=KDE-Bornkode-Buumoduul
Name[pl]=KDE ze źródeł
Name[ru]=Программа для сборки KDE из исходного кода
Name[sv]=KDE-källkodsbyggare
Comment=Builds the KDE Platform and associated software from its source code. A command-line only program.
Comment[da]=Bygger KDE Platform og tilknyttet software fra kildekode. Et program kun til kommandolinjen.
Comment[et]=KDE platvormi ja sellega seotud tarkvara ehitamine lähtekoodist. Ainult käsureal kasutatav programm.
Comment[ia]=Il construe le platteforma de KDE e su associate software ex codice fonte. Un programma de solmente linea de commando.
Comment[nds]=Buut de KDE-Systemümgeven un tohören Programmen ut den Bornkode. Bloots en Konsoolprogramm.
Comment[pl]=Buduje Platformę KDE i związane z nią oprogramowanie ze źródeł. Program działa w trybie wiersza poleceń.
Comment[ru]=Собирает платформу KDE и основанное на ней программное обеспечение из исходного кода. Программа предназначена только для запуска из командной строки.
Comment[sv]=Bygger KDE-plattformen och tillhörande programvara från dess källkod. Ett program som bara använder kommandoraden.
Categories=Qt;KDE;Development;
Exec=kdialog --sorry "kdesrc-build is a command-line only program. Please read the handbook at help:/kdesrc-build for more information."
Terminal=true
NoDisplay=true
