# KDE Config File
[Desktop Entry]
X-DocPath=kdesrc-build/index.html
Name=KDE Source Builder
Name[ca]=Compilació del codi font del KDE
Name[da]=KDE Source Builder
Name[de]=KDE-Source-Builder
Name[en_GB]=KDE Source Builder
Name[es]=Constructor del código fuente de KDE
Name[et]=KDE lähtekoodi ehitaja
Name[fr]=Compilateur de sources KDE
Name[it]=Generazione del sorgente di &kde;
Name[nb]=KDE kildebygger
Name[nds]=KDE-Bornkode-Buumoduul
Name[nl]=KDE Source Builder
Name[pa]=KDE ਸਰੋਤ ਬਿਲਡਰ
Name[pl]=Budowanie KDE ze źródeł
Name[pt]=Compilação do Código do KDE
Name[pt_BR]=Compilação do código do KDE
Name[sv]=KDE-källkodsbyggare
Name[uk]=Програма для збирання KDE з початкових кодів
Name[x-test]=xxKDE Source Builderxx
Name[zh_CN]=KDE 源代码构建器
Name[zh_TW]=KDE Source Builder
Comment=Builds the KDE Platform and associated software from its source code. A command-line only program.
Comment[ca]=Construeix la plataforma del KDE i el programari associat des del seu codi font. Un programa que només és per la línia d'ordres.
Comment[da]=Bygger KDE Platform og tilknyttet software fra kildekode. Et program kun til kommandolinjen.
Comment[de]=Erstellt KDE und dazugehörige Software aus den Quelltexten. Es ist ein reines Befehlszeilenprogramm.
Comment[en_GB]=Builds the KDE Platform and associated software from its source code. A command-line only program.
Comment[es]=Construye la Plataforma KDE y el software asociado desde su código fuente. Un programa sólo para la línea de órdenes.
Comment[et]=KDE platvormi ja sellega seotud tarkvara ehitamine lähtekoodist. Ainult käsureal kasutatav programm.
Comment[fr]=Construit la plate-forme KDE et les logiciels associés depuis son code source. Un programme en ligne de commande seule.
Comment[it]=Genera la piattaforma di &kde; e il software ad essa associato dal codice sorgente. Un programma disponibile solo dalla riga di comando.
Comment[nb]=Bygger KDE-plattformen og tilordnede programmer fra kildekoden. Dette er et program med bare kommandolinje.
Comment[nds]=Buut de KDE-Systemümgeven un tohören Programmen ut den Bornkode. Bloots en Konsoolprogramm.
Comment[nl]=Bouwt het KDE-platform en geassocieerde software uit zijn broncode. Werkt alleen op de opdrachtregel.
Comment[pl]=Budowanie Środowiska KDE i związanego z nim oprogramowania z kodu źródłowego. Program działa tylko w linii poleceń.
Comment[pt]=Compila a Plataforma do KDE e os programas associados a partir do seu código-fonte. Um programa apenas para a linha de comandos.
Comment[pt_BR]=Compila a Plataforma do KDE e os programas associados a partir do seu código-fonte. Um programa apenas para a linha de comandos.
Comment[sv]=Bygger KDE-plattformen och tillhörande programvara från dess källkod. Ett program som bara använder kommandoraden.
Comment[uk]=Збирає Платформу KDE і пов’язане з нею програмне забезпечення з початкових кодів. Керується за допомогою командного рядка.
Comment[x-test]=xxBuilds the KDE Platform and associated software from its source code. A command-line only program.xx
Comment[zh_CN]=从源代码构建 KDE 平台和相关软件。纯命令行程序。
Comment[zh_TW]=從源碼建立 KDE 平台與相關軟體。是一個只有命令列的程式。
Categories=Qt;KDE;Development;
Exec=kdialog --sorry "kdesrc-build is a command-line only program. Please read the handbook at help:/kdesrc-build for more information."
Terminal=true
NoDisplay=true
