# KDE Config File
[Desktop Entry]
X-DocPath=kdesrc-build/index.html
Name=KDE Source Builder
Name[pt]=Compilação do Código do KDE
Name[sv]=KDE-källkodsbyggare
Name[uk]=Програма для збирання KDE з початкових кодів
Name[x-test]=xxKDE Source Builderxx
Comment=Builds the KDE Platform and associated software from its source code. A command-line only program.
Comment[pt]=Compila a Plataforma do KDE e os programas associados a partir do seu código-fonte. Um programa apenas para a linha de comandos.
Comment[sv]=Bygger KDE-plattformen och tillhörande programvara från dess källkod. Ett program som bara använder kommandoraden.
Comment[uk]=Збирає Платформу KDE і пов’язане з нею програмне забезпечення з початкових кодів. Керується за допомогою командного рядка.
Comment[x-test]=xxBuilds the KDE Platform and associated software from its source code. A command-line only program.xx
Categories=Qt;KDE;Development;
Exec=kdialog --sorry "kdesrc-build is a command-line only program. Please read the handbook at help:/kdesrc-build for more information."
Terminal=true
NoDisplay=true
