# KDE Config File
[Desktop Entry]
X-DocPath=kdesvn-build/index.html
Name=KDE SVN Build
Name[ca]=Construcció SVN del KDE
Name[da]=KDE SVN-build
Name[de]=KDE-SVN-Build
Name[el]=Κατασκευή KDE SVN
Name[es]=Construcción SVN de KDE
Name[fr]=Compilation de SVN pour KDE
Name[ga]=Leagan KDE ó SVN
Name[hu]=KDE-fordítás SVN-ből
Name[it]=Generazione di KDE da SVN
Name[lv]=KDE SVN būvējums
Name[pl]=Budowanie KDE z SVN-a
Name[pt]=Compilação do SVN do KDE
Name[pt_BR]=Compilação do SVN do KDE
Name[sr]=Градња КДЕ‑а из СВН‑а
Name[sr@latin]=Gradnja KDE‑a iz SVN‑a
Name[sv]=Bygg KDE från SVN
Name[uk]=Збірка KDE з SVN
Name[x-test]=xxKDE SVN Buildxx
Name[zh_CN]=KDE SVN 构建
Name[zh_TW]=KDE SVN 編譯
Categories=Qt;KDE;Development;
Exec=kdialog --sorry "KDE SVN Build is a command-line only program. Please read the handbook at help:/kdesvn-build for more info."
Terminal=true
NoDisplay=true
