# KDE Config File
[Desktop Entry]
X-DocPath=kdesrc-build/index.html
Name=KDE Source Builder
Name[ca]=Construcció SVN del KDE
Name[ca@valencia]=Construcció SVN del KDE
Name[cs]=KDE SVN Build
Name[da]=KDE SVN-build
Name[de]=KDE-SVN-Build
Name[el]=Κατασκευή KDE SVN
Name[en_GB]=KDE SVN Build
Name[es]=Construcción SVN de KDE
Name[et]=KDE SVN Build
Name[fr]=Compilation de SVN pour KDE
Name[ga]=Leagan KDE ó SVN
Name[gl]=Compilación de KDE SVN
Name[hu]=KDE-fordítás SVN-ből
Name[it]=Generazione di KDE da SVN
Name[ja]=KDE SVN ビルド
Name[kk]=KDE-ні SVN-ден құру
Name[km]=ស្ថាបនា KDE SVN 
Name[lv]=KDE SVN būvējums
Name[nb]=KDE SVN Build
Name[nds]=KDE SVN Build
Name[nl]=KDE SVN Build
Name[nn]=KDE SVN Build
Name[pa]=KDE SVN ਬਿਲਡ
Name[pl]=Budowanie KDE z SVN-a
Name[pt]=Compilação do SVN do KDE
Name[pt_BR]=Compilação do SVN do KDE
Name[ru]=Сборка KDE из SVN
Name[sr]=Градња КДЕ‑а из СВН‑а
Name[sr@ijekavian]=Градња КДЕ‑а из СВН‑а
Name[sr@ijekavianlatin]=Gradnja KDE‑a iz SVN‑a
Name[sr@latin]=Gradnja KDE‑a iz SVN‑a
Name[sv]=Bygg KDE från SVN
Name[tr]=KDE SVN Build
Name[uk]=Збірка KDE з SVN
Name[x-test]=xxKDE SVN Buildxx
Name[zh_CN]=KDE SVN 构建
Name[zh_TW]=KDE SVN 編譯
Comment=Builds the KDE Platform and associated software from its source code. A command-line only program.
Categories=Qt;KDE;Development;
Exec=kdialog --sorry "kdesrc-build is a command-line only program. Please read the handbook at help:/kdesrc-build for more information."
Terminal=true
NoDisplay=true
