# KDE Config File
[Desktop Entry]
X-DocPath=kdesvn-build/index.html
Name=KDE SVN Build
Categories=Qt;KDE;Development;
Exec=kdialog --sorry "KDE SVN Build is a command-line only program. Please read the handbook at help:/kdesvn-build for more info."
Terminal=true
NoDisplay=true
